body{
	

}

#background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}
h1{
	font-family: sans-serif;
	font-size: 120%;
	letter-spacing: 10px;
	position: absolute;
	top: 100px;
	left: 125px;
	color: white;
	animation: h1 2s ease 0s infinite normal forwards;

}
@keyframes h1 {
  0% {
    animation-timing-function: ease-out;
    transform: scale(1);
    transform-origin: center center;
  }

  10% {
    animation-timing-function: ease-in;
    transform: scale(0.91);
  }

  17% {
    animation-timing-function: ease-out;
    transform: scale(0.98);
  }

  33% {
    animation-timing-function: ease-in;
    transform: scale(0.87);
  }

  45% {
    animation-timing-function: ease-out;
    transform: scale(1);
  }
}

.WeatherApp{
  width: 50%;
  position: absolute;
  top: 40%;
  left: 7%;
}
.installer{
  font-family: sans-serif;
  font-size: 90%;
  position: absolute;
  top: 52.5%;
  left: 8.5%;
  color: white;
  letter-spacing: 3px;
}
.titre1{
  font-family: sans-serif;
  font-size: 110%;
  position: absolute;
  top: 34%;
  left: 17%;
  color: white;
  letter-spacing: 3px;
}